// Colores
$color-body: darkslategray;
$color-presentacion:rgb(99, 194, 178);
$color-boton-presentacion:rgb(30, 148, 89);
$color-bordes: #743ef1;


body{
    background-color: $color-boton-presentacion;
}