@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&display=swap');
*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
    font-family: "Jersey 15";
    font-size: 20px;
}
body{
    background-color: darkslategray;
}
.header{
    background-image: linear-gradient(to top left, #0a2e7a, #743ef1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 85px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}
.header .nav-links li a:hover{
    color: blue;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}

.presentacion{
    background-image: url(img/FondoPresentacion.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    color: rgb(99, 194, 178);
    padding: 200px;
}
.presentacion h1{
    font-size: 50px;
}
.presentacion p{
    padding: 5px;
}

.btn{
    position: relative;
    padding: 15px 40px;
    text-decoration: none;
    color: rgb(30, 148, 89);
    letter-spacing: 3px;
    display: inline-block;
}
.btn-3{
    transition: all 0.6s ease;
    z-index: 1;
}
.btn-3::after{
    content: "";
    position:absolute;
    width: 10%;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: aquamarine;
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
}
.btn-3::before{
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid rgb(159, 216, 213);
    transition: all 0.4s ease;
    z-index: -1;
}
.btn-3:hover::after{
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(240px);
}
.btn-3:hover::before{
    background-color:#ffffff31 ;
    border: 3px solid #ffffff31;
    transform: skew(20deg, 0deg) scale(1.1);
}
